include ../mixins.pug
+link("http://www.kuleuven.be/english/application/", "How to apply")
+link("http://www.kuleuven.be/english/international/funding/", "Scholarships")
+link("http://www.kuleuven.be/english/admissions/degree_seeking", "Degree-seeking students")
+link("http://www.kuleuven.be/english/admissions/non_degree_seeking", "Non-degree-seeking students")
+link("http://www.kuleuven.be/research/phd/", "Doctoral students")
+link("http://www.kuleuven.be/english/admissions/researcher", "Reseachers")
+link("http://www.kuleuven.be/admissions/vis_scholar/", "Short-term study visits")
+link("https://admin.kuleuven.be/personeel/english/international_staff/", "Prepare your stay")
