include ../mixins.pug

ul(aria-labelledby="living-menu").dropdown-menu
  +link("http://www.kuleuven.be/welcome/", "Welcome activities")
  +link("http://www.kuleuven.be/english/studentservices/", "Student services")
  +link("http://www.kuleuven.be/accommodation/", "Housing")
  +link("http://www.kuleuven.be/insurances/", "Insurance")
  +link("http://www.kuleuven.be/sport/english/index.htm", "Sports")
  +link("http://www.kuleuven.be/english/culture", "Culture")
  +link("http://www.kuleuven.be/english/student_organisations", "Student organisations")
