include mixins.pug

nav.nav-main.pull-lg-left
  ul
    +link("http://www.kuleuven.be/research/", "Research")
    +link("http://www.kuleuven.be/english/education/", "Education")
    +link("http://www.kuleuven.be/about/", "About KU Leuven")
