include ../mixins.pug

ul(aria-labelledby="internal-tools-menu").dropdown-menu
  +link("http://toledo.kuleuven.be/english/", "Toledo")
  +link("http://www.kuleuven.be/sapredir/kuloket", "KU&nbsp;Loket")
  +link("https://webmail.kuleuven.be/", "Webmail")
  +link("https://admin.kuleuven.be/intranet/english", "Intranet")
  +link("http://www.kuleuven.be/wieiswie/en/person", "Who's who")
  +link("http://www.kuleuven.be/wieiswie/en/unit/50000050", "Organisational chart")
